<div class="col-md-6">
	<div class="boxy">
		<div class="page-header">
			<h1>Enter a new bookmark</h1>
		</div>
		<form class="form-inline" role="form" action="/bookmarks" method="POST">
			<div class="form-group">
		    <input type="text" class="form-control" id="category" name="category" placeholder="Bookmark Category">
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control" id="url" name="url" placeholder="Bookmark URL">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="col-md-6">
	<div class="boxy">
		<div class="page-header">
			<h1>Bookmark List</h1>
		</div>
		<% @bookmarks.each do |bookmark| %>
			<h3><%= bookmark['category'] %></h3>
			<a href="http://<%= bookmark['url'] %>" target="_blank"><%= bookmark['url'] %></a>
		<% end %>
	</div>
</div>
