<h1>Bookmarker</h1>

<div class="wrapper">

<div class="form">
	<form action="/bookmarks" method="POST">
		Name: <input type="text" name="name">
		URL: <input type="text" name="link">
		<input type="submit" value="Create">
	</form>
</div>


	<div class="bookmark_name">
	<ul>
		<% @bookmarks.each do |bookmark| %>
			<li><%= bookmark["name"] %></li>
			<% end %>
	</ul>
	</div>

	<div class="bookmark_url">
	<ul>
		<% @bookmarks.each do |bookmark| %>
			<li><a href="<%= bookmark["link"] %>"><%= bookmark["link"] %></a></li>
			<% end %>
	</ul>
	</div>


</div>
