<form action='/bookmarks' method='POST'>
  Name: <input type='text' name='name'><br>
  URL: <input type='text' name='url'><br>
  <input type='submit' value='Save'>
</form>

<form action='/bookmarks/delete' method='POST'>
  Name: <input type='text' name='name'><br>
  <input type='submit' value='Save'>
</form>

<section class='bookmark_index'>
  <% @bookmarks.each do |bookmark| %>
    <article class='bookmark'>
      Name: <%= bookmark['name']%><br> Url: <%= bookmark['url']%>
    </article>
  <% end %>
</section>
