<div class='container'>
	<h1>Bookmarks</h1>

	<div id='form'>
		<form action='/bookmarks' method='post'>
			<input type='text'name='name' placeholder='Site nickname'><br>
			<input type='text' name='url' placeholder='Paste URL here'>
			<input class='button' type='submit' value='ADD'>
		</form>
	</div>
</div>

<div class='container black'>
	<div class='list'>

		<h2>EXISTING BOOKMARKS</h2><hr>
			<ul>
				<% @list.each do |entry| %>
					<ul class='entry'>
						<li><%= entry['name'] %></li>
						<li><a href='<%= entry['url'] %>' target='_blank'>Visit page</a></li>

						<li>
							<form action='/bookmarks/del' method='POST'>
								<input type='hidden' name='name' value='<%= entry['name'] %>'>
								<input type='hidden' name='url' value='<%= entry['url'] %>'>
								<input class='button' type='submit' value='REMOVE'>
							</form>
						</li>
					</ul>
				<% end %>
			</ul>

	</div>
</div>


