<!DOCTYPE html>
<html>
	<head>
		<title>Bookmarks</title>
		<link rel="stylesheet" href="/reset.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
	<div class="image">
		<div class="center">
			<div class="form">
				<h1>Create A New Bookmark</h1>
				<%= yield %>
		</div>
	</div>
	</body>
</html>
