<!DOCTYPE html>
<html>
	<head>
		<title>URL BOOKMARKS</title>
		<link rel="stylesheet" href="/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
	      <h1>Janice's Url Manager</h1>
	    </div>
				<h3 class="text-muted">Saved Bookmarks:</h3>
				<div class="col-lg-6"><%= yield %></div>
			</div>
	</body>
</html>


