<!DOCTYPE html>
<html>
<head>
  <title>Prescott's Bookmarks</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>
  <%= yield %>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
</body>
</html>
