<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css'>
  <title>Ben's Bitly</title>
</head>
<body>
<%= yield %>
</body>
</html>