<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<title>URL Shortener</title>
</head>
<body>
<h1><a href="/shortener">emm.ly</a></h1>
<%= yield %>
</body>
</html>