<!-- Header -->

<!--this will get the long_form url -->
<label for="long_url">Enter a Url:</label>
<input type="text" name="long_url" class="fieldset" />
<button type="submit" class="button" value=""></button>>

