<!-- Header -->

<!--this will get the long_form url -->
<form action ="/create" method="post">
<label for="long_url">Enter a Url:</label>
<input type="text" name="long_url" class="fieldset" />
<button type="submit" class="button" value="">Create a Short Url!</button>
</form>


