<table>
<!--@urls is coming in as Url.all-->
<% @urls.each do |url| %> 
<tr>
  <td></td> <!--display Url.long_url -->
  <td></td> <!--display Url.short_url -->
  <td></td>
</tr>
<%=@urls.all%>
<% end %>
</table>